h1{
  text-align: center;
}
section{
  display:-moz-grid-group;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
ul{
  list-style: none;
}
body{
  background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}
h5{
  color: rgb(47, 45, 45);
  font-weight: bolder;
  font-size:x-large;
  font-family:'Times New Roman', Times, serif;
}
h1{
  color: rgb(47, 45, 45);
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
}
p{
  font-size: medium;
}
.card{
  background-color: transparent;
  color: rgb(47, 45, 45);
  font-size: small;
  font-family:'Times New Roman', Times, serif;
  align-items: center;
  height: min-content;
  width: min-content;
  align-items: center;
  justify-content: space-between;
  border-color: transparent ;
  
}
.card-img-top{
  height: min-content;
  width: min-content;
  border-radius: 30px;
  justify-content: space-between;
}
img:hover{
  opacity: 0.50 ;
}
